<div>
    <h2 id="page-heading">
        <span jhiTranslate="queenApp.producto.home.title">Productos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-producto" [routerLink]="['/producto/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="queenApp.producto.home.createLabel">
            Create new Producto
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'queenApp.producto.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="productos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nombre"><span jhiTranslate="queenApp.producto.nombre">Nombre</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="precio"><span jhiTranslate="queenApp.producto.precio">Precio</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="stock"><span jhiTranslate="queenApp.producto.stock">Stock</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="detalle"><span jhiTranslate="queenApp.producto.detalle">Detalle</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="visible"><span jhiTranslate="queenApp.producto.visible">Visible</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="estado"><span jhiTranslate="queenApp.producto.estado">Estado</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="empresaId"><span jhiTranslate="queenApp.producto.empresa">Empresa</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="marcaId"><span jhiTranslate="queenApp.producto.marca">Marca</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="categoriaId"><span jhiTranslate="queenApp.producto.categoria">Categoria</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let producto of productos ;trackBy: trackId">
                <td><a [routerLink]="['/producto', producto.id, 'view' ]">{{producto.id}}</a></td>
                <td>{{producto.nombre}}</td>
                <td>{{producto.precio}}</td>
                <td>{{producto.stock}}</td>
                <td>{{producto.detalle}}</td>
                <td>{{producto.visible}}</td>
                <td jhiTranslate="{{'queenApp.Estado.' + producto.estado}}">{{producto.estado}}</td>
                <td>
                    <div *ngIf="producto.empresaId">
                        <a [routerLink]="['../empresa', producto.empresaId , 'view' ]" >{{producto.empresaId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="producto.marcaId">
                        <a [routerLink]="['../marca', producto.marcaId , 'view' ]" >{{producto.marcaId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="producto.categoriaId">
                        <a [routerLink]="['../categoria', producto.categoriaId , 'view' ]" >{{producto.categoriaId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/producto', producto.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/producto', producto.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'producto/'+ producto.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="productos && productos.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
